* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}

/* Navigation Section */
header {
  margin-top: 3rem;
  width: 100%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
}

.navigation-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

li {
  font-size: 1.5rem;
  transition: 0.5s;
}

.icons img {
  width: 35px;
  height: auto;
  margin-left: 0.5rem;
  transition: 0.4s;
}

.icons img:hover,
li:hover {
  cursor: pointer;
  transform: scale(1.05);
  text-decoration: underline;
}
/* Hero Title */
.hero-title {
  width: 100%;
  text-align: center;
  margin: 4rem auto 2rem auto;
}

.hero-title h2 {
  max-width: 800px;
  font-size: 2rem;
  margin: 0 auto;
}

/* Hero Section */
#hero-card-section {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-card {
  text-align: center;
  width: 450px;
  height: 500px;
}

.hero-card h2 {
  max-width: 450px;
  font-size: 1.5rem;
}
